<div class="modal fade" id="booking-course-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <form action="/tutors/{{tutor.id}}/booking" method="POST">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">預約成功</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p id="bookedDate">上課時間：</p>
        <p>授課老師：{{tutor.User.name}}</p>
        <p>課程連結：<a href="{{tutor.teachingLink}}">{{tutor.teachingLink}}</a></p>
      </div>
      <div class="modal-footer">
        <button id="close-button" type="button" class="custom-solid-button" data-bs-dismiss="modal">確認</button>
      </div>
    </div>
    </form>
  </div>
</div>