<div class="mb-4 text-center">
  <h3 class="font-weight-normal">申請成為老師</h1>
</div>

<div class="card my-4 d-flex align-items-center">
  <form enctype="multipart/form-data" class="form-signup my-4" action="/users/{{user.id}}/apply" method="POST"
    style="width: 90%;">

    {{!-- 名字 --}}
    <div class=" form-row mb-4">
      <i class="fa-solid fa-user" style="color: #308882;"></i>
      <label class="form-label" for="name"><strong>名字</strong></label>
      <input class="form-control" type="text" name="name" id="name" placeholder="輸入名字" value="{{user.name}}">
    </div>

    {{!-- 頭像 --}}
    <div class="form-row mb-4">
      <i class="fa-solid fa-image" style="color: #308882;"></i>
      <label class="form-label" for="avatar"><strong>上傳頭像</strong></label>
      <input class="form-control" type="file" class="form-control-file" id="avatar" name="avatar"
        value="{{user.avatar}}">
    </div>
    
    {{!-- 國家 --}}
    <div class="form-row mb-4">
      <i class="fa-solid fa-flag-checkered" style="color: #308882;"></i>
      <label class="form-label" for="nation"><strong>國家</strong></label>
      <input class="form-control" id="nation" name="nation" rows="3" value="{{user.nation}}">
    </div>

    {{!-- 自我介紹 --}}
    <div class="form-row mb-4">
      <i class="fa-solid fa-child-reaching" style="color: #308882;"></i>
      <label class="form-label" for="tutorIntroduction"><strong>關於我</strong></label>
      <textarea class="form-control" id="tutorIntroduction" name="tutorIntroduction" rows="3"></textarea>
    </div>

    {{!-- 教學風格 --}}
    <div class="form-row mb-4">
      <i class="fa-solid fa-feather" style="color: #308882;"></i>
      <label class="form-label" for="teachingStyle"><strong>教學風格</strong></label>
      <textarea class="form-control" id="teachingStyle" name="teachingStyle" rows="3"></textarea>
    </div>

    {{!-- 課程時間 --}}
    <div class="form-row mb-4">
      <i class="fa-solid fa-clock" style="color: #308882;"></i>
      <label class="form-label" for="duration"><strong>單堂課程時間</strong></label>
      <select class="form-select" id="duration" name="duration" required>
        <option value="30">30分鐘</option>
        <option value="60">60分鐘</option>
      </select>
    </div>

    {{!-- 可預約時間 --}}
    <div class="form-row mb-4">
      <i class="fa-solid fa-calendar-days" style="color: #308882;"></i>
      <label class="form-label" for="teachingTime"><strong>開放預約時間</strong></label>
      <div class="d-inline-flex">
        <div class="form-check ms-3">
          <input class="form-check-input" type="checkbox" id="weekday1" name="teachingTime" value="1">
          <label class="form-check-label" for="weekday1">星期一</label>
        </div>
        <div class="form-check ms-3">
          <input class="form-check-input" type="checkbox" id="weekday2" name="teachingTime" value="2">
          <label class="form-check-label" for="weekday2">星期二</label>
        </div>
        <div class="form-check ms-3">
          <input class="form-check-input" type="checkbox" id="weekday3" name="teachingTime" value="3">
          <label class="form-check-label" for="weekday3">星期三</label>
        </div>
        <div class="form-check ms-3">
          <input class="form-check-input" type="checkbox" id="weekday4" name="teachingTime" value="4">
          <label class="form-check-label" for="weekday4">星期四</label>
        </div>
        <div class="form-check ms-3">
          <input class="form-check-input" type="checkbox" id="weekday5" name="teachingTime" value="5">
          <label class="form-check-label" for="weekday5">星期五</label>
        </div>
        <div class="form-check ms-3">
          <input class="form-check-input" type="checkbox" id="weekday6" name="teachingTime" value="6">
          <label class="form-check-label" for="weekday6">星期六</label>
        </div>
        <div class="form-check ms-3">
          <input class="form-check-input" type="checkbox" id="weekday7" name="teachingTime" value="7">
          <label class="form-check-label" for="weekday7">星期日</label>
        </div>
      </div>
    </div>

    {{!-- 課程連結 --}}
    <div class="form-row mb-4">
      <i class="fa-solid fa-link" style="color: #308882;"></i>
      <label class="form-label" for="teachingLink"><strong>課程視訊連結</strong></label>
      <input type="text" id="teachingLink" name="teachingLink" class="form-control">
    </div>

    <div class="text-center my-5">
      <button class="custom-button">提出申請</button>
    </div>
  </form>
</div>
