i {
  color: #308882;
}

.card {
  max-height: 500px;
  overflow-y: auto;
}

.custom-button {
  background-color: white;
  border: 2px solid #308882;
  color: #308882;
  padding: 10px 20px;
  border-radius: 10px;
  transition: background-color 0.3s;
}

.custom-button:hover {
  background-color: #308882;
  color: white;
}

.custom-button a {
  text-decoration: none;
  font-size: 700;
  color: #308882;
}

.custom-button:hover a {
  text-decoration: none;
  font-size: 700;
  color: white;
}

.custom-solid-button {
  background-color: #308882;
  border: 2px solid #308882;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  transition: background-color 0.3s;
}

.custom-solid-button:hover {
  background-color: #0e4d4a;
  border: 2px solid #0e4d4a;
  color: white;
}

.custom-solid-button a {
  text-decoration: none;
  font-size: 700;
  color: white;
}

.custom-button:hover a {
  text-decoration: none;
  font-size: 700;
  color: white;
}

.avatar,
.default-avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

/* #back-btn {
  text-decoration: none;
  color: #0e4d4a;
}

#back-btn:hover {
  text-decoration: none;
  color: white
} */


.form-avatar,
.form-default-avatar {
  width: 50px;
  height: 50px;
  display: block;
}

#search-bar {
  border-radius: 10px;
}

.tutor-list a {
  text-decoration: none;
  color: black;
}

.tutor-list-avatar img {
  width: 120px;
  height: 120px;
  border-radius: 10%;
}

.topLeaners-list-title {
  background-color: #78aeaa;
  color: white;
  border-radius: 10px;
  margin: 15px auto;
  padding: 10px;
  font-weight: 400;
  width: 70%;
}

.topLearners-list-avatar img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.list-group-item {
  padding: 10px;
}

.badge {
  background-color: #78aeaa;
  font-weight: 400;
}

.page-link {
  border: 1px solid #0e4d4a;
  color: #308882;
}

.active>.page-link,
.page-link.active {
  border: 1px solid #0e4d4a;
  background-color: #308882;
}

.pagination a.page-link:hover {
  color: #0e4d4a;
  background-color: #f0f0f0;
  border-color: #0e4d4a;
}

#course-card {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#course-card a {
  text-decoration: none;
  color: black
}

#course-card .course-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#course-card .tutor-avatar img,
#course-card .user-avatar img {
  width: 50px;
  height: 50px
}

table {
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

th,
td {
  text-align: center;
  vertical-align: middle;
  padding: 10px;
}