p {
  white-space: break-spaces;
}

i {
  color: #308882;
}

i:hover {
  color: #0e4d4a;
}

.card {
  max-height: 500px;
  overflow-y: auto;
}

.custom-button {
  background-color: white;
  border: 2px solid #308882;
  color: #308882;
  padding: 8px 12px;
  border-radius: 10px;
  transition: background-color 0.3s;
}

.custom-button:hover {
  background-color: #308882;
  color: white;
}

.custom-button a {
  text-decoration: none;
  font-size: 700;
  color: #308882;
}

.custom-button:hover a {
  text-decoration: none;
  font-size: 700;
  color: white;
}

.custom-solid-button {
  background-color: #308882;
  border: 2px solid #308882;
  color: white;
  padding: 8px 12px;
  border-radius: 10px;
  transition: background-color 0.3s;
}

.custom-solid-button:hover {
  background-color: #0e4d4a;
  border: 2px solid #0e4d4a;
  color: white;
}

.custom-solid-button a {
  text-decoration: none;
  font-size: 700;
  color: white;
}

.custom-button:hover a {
  text-decoration: none;
  font-size: 700;
  color: white;
}

.avatar,
.default-avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.form-avatar,
.form-default-avatar {
  width: 50px;
  height: 50px;
  display: block;
}

#search-bar {
  border-radius: 10px;
}

.tutor-list a {
  text-decoration: none;
  color: black;
}

.tutor-list-avatar img {
  width: 120px;
  height: 120px;
  border-radius: 10%;
}

.topLeaners-list-title {
  background-color: #78aeaa;
  color: white;
  border-radius: 10px;
  margin: 15px auto;
  padding: 10px;
  font-weight: 400;
  width: 70%;
}

.topLearners-list-avatar img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.list-group-item {
  padding: 10px;
}

.badge {
  background-color: #78aeaa;
  font-weight: 400;
}


/* ---------- course card ---------- */

#future-course,
#past-course {
  height: 100px;
  margin: 10px 0px;
}

#course-card {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#course-card a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

#course-card a:hover {
  text-decoration: underline;
  color: black;
  font-weight: 600;
}

#course-card .course-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#course-card .tutor-avatar img,
#course-card .user-avatar img {
  width: 50px;
  height: 50px
}


/* ---------- admin navbar ---------- */

#admin-nav-item {
  width: 100px;
}

.nav-item a {
  display: flex;
  padding: 5px 10px;
  text-decoration: none;
}

.nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}

.nav-link,
.nav-link:hover {
  color: black;
}

.nav-tabs .nav-link:hover {
  background-color: #f4f4f4;
  color: black;
}

.nav-tabs .nav-link.active {
  background-color: #308882;
  color: white;
}

/* ---------- table ---------- */

table {
  border-collapse: collapse;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

th,
td {
  text-align: center;
  vertical-align: middle;
  padding: 10px;
}

.table-header {
  border-bottom: 2px solid #454545;
}

.admin-list-link {
  text-decoration: none;
  color: #000000;
  font-weight: 500;
}

.admin-list-link:hover {
  text-decoration: underline;
  color: #000000;
  font-weight: 500;
}

/* ---------- header ---------- */

.header-nav-link {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 40px;
  color: #000000;
}

.header-nav-link:hover {
  color: #308882;
  font-weight: 500;
}

.header-btn {
  display: flex;
  justify-content: end;
}

.header-btn button {
  padding: 5px 10px;
}

/* ---------- Modal ---------- */

.admin-modal-list li {
  padding-bottom: 10px;
}


/* ---------- Pagination ---------- */

.page-link {
  border: 1px solid #0e4d4a;
  color: #308882;
}

.active>.page-link,
.page-link.active {
  border: 1px solid #0e4d4a;
  background-color: #308882;
}

.pagination a.page-link:hover {
  color: #0e4d4a;
  background-color: #f0f0f0;
  border-color: #0e4d4a;
}


/* ---------- Booking ---------- */

.booking-form {
  padding: 8px;
  margin-bottom: 10px;
  font-size: 15px;
}

.booking-btn {
  padding: 8px 12px;
  font-size: 15px;
}


/* ---------- Messages ---------- */

.msg-container {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  width: 394px;
  height: 96px;
  z-index: 100;
  background-color: #FFFFFF;
  border: 0px;
  border-radius: 8px;
  box-shadow: 0px 4px 16px 0px #33333314, 0px 4px 4px 0px #3333330A;
  opacity: 0;
}

@keyframes toHidden {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.msg-container .msg {
  margin-left: 24px;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #000000;
}

.msg-container .btn-container {
  display: flex;
  align-items: center;
}

.btn-container button {
  margin-right: 24px;
  background-color: transparent;
  border-radius: 50%;
  width: 56px;
  height: 56px;
}

.btn-container .btn-error {
  border: 2px solid #FC5A5A;
}

.btn-error img {
  filter: brightness(0) saturate(100%) invert(50%) sepia(15%) saturate(4417%) hue-rotate(327deg) brightness(109%) contrast(98%);
}

.btn-container .btn-success {
  border: 2px solid #3DD598;
}

.btn-success img {
  filter: brightness(0) saturate(100%) invert(78%) sepia(42%) saturate(658%) hue-rotate(95deg) brightness(88%) contrast(88%);
}